@import url('https://rsms.me/inter/inter.css');

:root {
    --featured-color: #3F3D56;
    --accent-feature-color: #6b63ff;

    --background-color: #FFF;
    --text-color: #000;
    --input-background-color: #FFF;
    --error-color: #e76060;


    --link-color: #3F3D56;
    --button-background-color: #3F3D56;
    --button-hover-background-color: #6b63ff;
    --border-color: #ccc;
    --border-top: #eee;
    --title-color: #333;
    --link-hover-color: #6b63ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #101010;
        --text-color: #dedede;
        --button-background-color: #3F3D56;
        --button-hover-background-color: #6b63ff;
        --error-color: #ff6b6b;





        --input-background-color: #1e1e1e;

        --link-color: #d7d7d7;
        --border-color: #555;
        --border-top: #333;
        --title-color: #d7d7d7;
        --link-hover-color: #fff;
    }
}

/* Global styles */

html, body {
    font-family: 'Inter', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

* {
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@supports (font-variation-settings: normal) {
    html, body {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

/* Element styles */

a,
a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}




hr {
    margin: 50px 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--border-top);
    padding: 0;
}

pre code {
    text-align: left;
    font-size: 1.3em;
    overflow-x: hidden;
    border-radius: 4px 4px 0 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}


input {
    outline: none;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    color: var(--link-color);
    background-color: var(--input-background-color);
}

input:hover {
    border-color: var(--featured-color) !important;
}
input:focus {
    border-color: var(--button-hover-background-color) !important;
}

button {

    background-color: var(--button-background-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 450;
}

button.active,
button:hover {
    background-color: var(--button-hover-background-color);
}

.button-group {
    display: flex;
    flex-direction: row;
}
.button-group button {
    border-radius: 0;
    margin: 0;
}
.button-group button:first-child {
    border-radius: 4px 0 0 4px;
}
.button-group button:last-child {
    border-radius: 0 4px 4px 0;
}


/* Page styles */

a.title {
    display: block;
    padding-bottom: 40px;
    text-align: center;
    max-width: 500px;
    margin: 5px 0;
    line-height: 2.2em;
}

a.title img {
    margin-bottom: 2em;
    max-width: 70%;
}

a.title > span {
    display: block;
}

a.title > span.title {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

a.title > span.title > a {
    text-decoration: none;
    color: var(--title-color);
}

a.title > span.subtitle {
    color: var(--link-color);
}

div.main,
div.chart,
div.code,
div.footer {
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    text-align: center;
}

div.main p {
    text-align: center;
}

div.main,
div.code {
    padding-top: 30px;
    border-top: 1px solid var(--border-top);
}


p.error {
    color: var(--error-color);
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.full-width {
    width: 100%;
}

button.copy-btn {
    margin-top: -20px;
}


div.main > form > button {
    width: 80%;
}