@import url('https://rsms.me/inter/inter.css');

html {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 0;
}

a,
a:visited {
	color: #555;
}

a:hover {
	color: #222;
}

hr {
	margin: 50px 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #eee;
	padding: 0;
}

code {
	text-align: left;
	font-size: 1.3em;
}

div {
	flex-direction: row;
	flex: 1;
	flex-wrap: wrap;
	max-width: 100%;
	font-size: 1em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

div.title {
	padding-bottom: 40px;
	text-align: center;
	max-width: 500px;
	margin: 5px 0;
	line-height: 2.2em;
}

div.title img {
	margin-bottom: 2em;
	max-width: 70%;
}

div.title>span {
	display: block;
}

div.title>span.title {
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
}

div.title>span.title>a {
	text-decoration: none;
	color: #333;
}

div.title>span.subtitle {
	color: #555;
}

div.main,
div.code {
	padding-top: 30px;
	border-top: 1px solid #eee;
}
