{{define "title"}}Star Charts{{end}}

{{define "main"}}
    <a class="title" href="/">
        <img src="/static/stars.svg" alt="Stars">
        <span class="title">starcharts</span>
        <span class="subtitle">Plot your repository stars over time.</span>
    </a>
{{end}}
